@using DiplomaManagement.ExtensionMethods
@using Microsoft.AspNetCore.Identity
@using DiplomaManagement.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(user, "Admin"))
{
    <li class="nav-item dropdown show">
        <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">Admin</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-controller="Institute" asp-action="Index">@Html.Translate("institutes")</a>
            <a class="dropdown-item" asp-controller="Director" asp-action="Index">@Html.Translate("institute-directors")</a>
            <a class="dropdown-item" asp-controller="Promoter" asp-action="Index">@Html.Translate("promoters")</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-controller="Student" asp-action="Index">@Html.Translate("students")</a>
        </div>

    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="StudentsWithoutThesis">@Html.Translate("students-without-thesis")</a>
    </li>
}
