@using System.Globalization
@using Microsoft.AspNetCore.Localization

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DiplomaManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/DiplomaManagement.styles.css" asp-append-version="true" />
    <script src="~/js/notifications.js"></script>
</head>
<body>
    @{
        var requestCulture = Context.Features.Get<IRequestCultureFeature>();
        var defaultCultures = new List<CultureInfo>()
        {
            new CultureInfo("pl-PL"),
            new CultureInfo("en-US"),
        };

        CultureInfo[] cinfo = CultureInfo.GetCultures(CultureTypes.AllCultures);
        List<SelectListItem> cultureList = cinfo.Where(x => defaultCultures.Contains(x))
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName.Split('(')[0].Trim() })
            .ToList();
    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 bg-transparent-header">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/img/diploma.svg" height="45"/>DiplomaManagement</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <partial name="_AdminMenuPartial" />
                        <partial name="_DirectorMenuPartial" />
                        <partial name="_PromoterMenuPartial" />
                        <partial name="_StudentMenuPartial" />
                    </ul>

                    <form id="selectLanguage" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
                        method="post" role="form" class="form-inline">
                        <div class="dropdown">
                            <button class="dropdown-toggle" href="#" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent; border: none; padding: 0;">
                                <img src="~/img/flags/@(requestCulture.RequestCulture.UICulture.Name.ToLower().Replace("-", "_")).svg" alt="@requestCulture.RequestCulture.UICulture.Name" style="width: 20px;"/>
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="min-width: unset;">
                                @foreach (var item in cultureList)
                                {
                                    <li>
                                        <a class="dropdown-item" onclick="changeLanguage('@item.Value', event)">
                                            <img src="~/img/flags/@(item.Value.ToLower().Replace("-", "_")).svg" alt="@item.Text" style="width: 20px;" /> @item.Text
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <input type="hidden" name="culture" id="cultureInput" />
                    </form>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

     <div id="parallax">
        <div class="layer" data-depth="0.4">
            <div id="particles-js"></div>
        </div>

         <div class="layer" data-depth="0.6">
             <div class="some-space">
                <div id="center" class="position-absolute"><img src="/img/background/circle6.png" /></div>
             </div>
         </div>

        <div class="layer" data-depth="0.45">
            <div class="some-space">
                <div id="center" class="position-absolute"><img src="/img/background/circle5.png" /></div>
            </div>
        </div>

        <div class="layer" data-depth="0.5">
            <div class="some-space">
                <div id="rounded-dots" class="position-absolute"><img src="/img/background/rounded-dots.png" /></div>
            </div>
        </div>

        <div class="layer" data-depth="0.8">
            <div class="some-space">
                <div id="center" class="position-absolute"><img src="/img/background/circle-logo2.png" /></div>
            </div>
        </div>

        <div class="layer" data-depth="0.3">
            <div class="some-space" >
                <div id="left-top" class="position-absolute"><img src="/img/background/circle4.png" /></div>
                <div id="right-top" class="position-absolute"><img src="/img/background/circle3.png" /></div>
                <div id="vertical-dots" class="position-absolute"><img src="/img/background/vertical-dots.png" /></div>
                <div id="splitted-sircle" class="position-absolute"><img src="/img/background/splitted-sircle.png" /></div>
                <div id="circle2" class="position-absolute"><img src="/img/background/circle2.png" /></div>
                <div id="right-bottom" class="position-absolute"><img src="/img/background/circle7.png" /></div>
            </div>
        </div>
     </div>

    <div class="d-flex justify-content-center align-items-center text-white">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1050;">
            @RenderSection("ToastNotification", required: false)
        </div>
    </div>

    <footer class="border-top footer text-white">
        <div class="container">
            &copy; 2024 - DiplomaManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["privacy"]</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://matthew.wagerfield.com/parallax/deploy/jquery.parallax.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/parallax.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
