@model DiplomaManagement.Models.PagerViewModel

<div class="container">
    @if (Model.Pager.TotalPages > 1)
    {
        <ul class="pagination justify-content-end">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li>
                    <a class="btn btn-outline-light" 
                        asp-controller="@Model.ControllerName" 
                        asp-action="@Model.ActionName" 
                        asp-route-sortOrder="@ViewBag.CurrentSort"
                        asp-route-currentFilter="@ViewBag.CurrentFilter" 
                        asp-route-page="1"
                    >@Localizer["pager-first"]</a>
                </li>
                <li>
                    <a class="btn btn-outline-light" 
                        asp-controller="@Model.ControllerName" 
                        asp-action="@Model.ActionName" 
                        asp-route-sortOrder="@ViewBag.CurrentSort" 
                        asp-route-currentFilter="@ViewBag.CurrentFilter"
                        asp-route-page="@(Model.Pager.CurrentPage - 1)"
                    >@Localizer["pager-previous"]</a>
                </li>
            }

            @for (var pageNumber = Model.Pager.StartPage; pageNumber <= Model.Pager.EndPage; pageNumber++)
            {
                <li>
                    <a class="btn btn-outline-light @(pageNumber == Model.Pager.CurrentPage ? "active" : "")" 
                        asp-asp-controller="@Model.ControllerName" 
                        asp-action="@Model.ActionName" 
                        asp-route-sortOrder="@ViewBag.CurrentSort" 
                        asp-route-currentFilter="@ViewBag.CurrentFilter" 
                        asp-route-page="@pageNumber"
                    >@pageNumber</a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li>
                    <a class="btn btn-outline-light" 
                        asp-controller="@Model.ControllerName" 
                        asp-action="@Model.ActionName" 
                        asp-route-sortOrder="@ViewBag.CurrentSort" 
                        asp-route-currentFilter="@ViewBag.CurrentFilter" 
                        asp-route-page="@(Model.Pager.CurrentPage + 1)"
                    >@Localizer["pager-next"]</a>
                </li>
                <li>
                    <a class="btn btn-outline-light" 
                        asp-controller="@Model.ControllerName" 
                        asp-action="@Model.ActionName" 
                        asp-route-sortOrder="@ViewBag.CurrentSort" 
                        asp-route-currentFilter="@ViewBag.CurrentFilter"
                        asp-route-page="@Model.Pager.TotalPages"
                    >@Localizer["pager-last"]</a>
                </li>
            }
        </ul>
    }
</div>