@model DiplomaManagement.Models.PagerViewModel

<div class="container">
    @if (Model.Pager.TotalPages > 1)
    {
        <ul class="pagination justify-content-end">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" 
                        asp-controller="@Model.ControllerName" 
                        asp-action="@Model.ActionName" 
                        asp-route-sortOrder="@ViewBag.CurrentSort"
                        asp-route-currentFilter="@ViewBag.CurrentFilter" 
                        asp-route-page="1"
                    >First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" 
                        asp-controller="@Model.ControllerName" 
                        asp-action="@Model.ActionName" 
                        asp-route-sortOrder="@ViewBag.CurrentSort" 
                        asp-route-currentFilter="@ViewBag.CurrentFilter"
                        asp-route-page="@(Model.Pager.CurrentPage - 1)"
                    >Previous</a>
                </li>
            }

            @for (var pageNumber = Model.Pager.StartPage; pageNumber <= Model.Pager.EndPage; pageNumber++)
            {
                <li class="page-item @(pageNumber == Model.Pager.CurrentPage ? "active" : "")">
                    <a class="page-link" 
                        asp-asp-controller="@Model.ControllerName" 
                        asp-action="@Model.ActionName" 
                        asp-route-sortOrder="@ViewBag.CurrentSort" 
                        asp-route-currentFilter="@ViewBag.CurrentFilter" 
                        asp-route-page="@pageNumber"
                    >@pageNumber</a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" 
                        asp-controller="@Model.ControllerName" 
                        asp-action="@Model.ActionName" 
                        asp-route-sortOrder="@ViewBag.CurrentSort" 
                        asp-route-currentFilter="@ViewBag.CurrentFilter" 
                        asp-route-page="@(Model.Pager.CurrentPage + 1)"
                    >Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" 
                        asp-controller="@Model.ControllerName" 
                        asp-action="@Model.ActionName" 
                        asp-route-sortOrder="@ViewBag.CurrentSort" 
                        asp-route-currentFilter="@ViewBag.CurrentFilter"
                        asp-route-page="@Model.Pager.TotalPages"
                    >Last</a>
                </li>
            }
        </ul>
    }
</div>