@model DiplomaManagement.Models.RegistrationModel

<!-- Modal -->
<div class="modal-dialog text-dark">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">@Localizer["registration-modal-title"]</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div id="alert_placeholder_register">
            </div>
            <form id="UserRegistrationForm" name="UserRegistrationForm" asp-controller="UserAuth" asp-action="RegisterUser">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="RegistrationInValid">
                <div class="mb-3 row">
                    <label asp-for="UserName" class="col-md-4 col-form-label">@Localizer["user-name"]</label>
                    <div class="col-md-8">
                        <input asp-for="UserName" placeholder="@Localizer["user-name"]" class="form-control">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Password" class="col-md-4 col-form-label">@Localizer["password"]</label>
                    <div class="col-md-8">
                        <input asp-for="Password" placeholder="@Localizer["enter-password"]" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="ConfirmPassword" class="col-md-4 col-form-label">@Localizer["confirm-password"]</label>
                    <div class="col-md-8">
                        <input asp-for="ConfirmPassword" placeholder="@Localizer["confirm-password"]" class="form-control">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="FirstName" class="col-md-4 col-form-label">@Localizer["first-name"]</label>
                    <div class="col-md-8">
                        <input asp-for="FirstName" placeholder="@Localizer["first-name"]" class="form-control">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="LastName" class="col-md-4 col-form-label">@Localizer["last-name"]</label>
                    <div class="col-md-8">
                        <input asp-for="LastName" placeholder="@Localizer["last-name"]" class="form-control">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Email" class="col-md-4 col-form-label"></label>
                    <div class="col-md-8">
                        <input asp-for="Email" placeholder="@Localizer["email-address"]" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="InstituteId" class="col-md-4 col-form-label">@Localizer["institute"]</label>
                    <div class="col-md-8">
                        <select asp-for="InstituteId" class="form-control" asp-items="@ViewBag.Institutes" id="instituteSelect">
                            <option value="" selected hidden>@Localizer["select-institute"]</option>
                        </select>
                        <span asp-validation-for="InstituteId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="form-check">
                            <input asp-for="AcceptUserAgreement" class="form-check-input">
                            <label asp-for="AcceptUserAgreement" class="form-check-label">
                                @Localizer["agreement"] <a href="#">@Localizer["terms-of-use"]</a> @Localizer["and"] <a href="#">@Localizer["privacy-policy"]</a>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["close"]</button>
            <button id="register" name="register" type="button" class="btn btn-primary">@Localizer["register"]</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('instituteSelect').addEventListener('click', function () {
            this.options[0].style.display = 'none';
        });
    </script>
}