@using DiplomaManagement.Interfaces
@model IEnumerable<DiplomaManagement.Entities.Promoter>

@inject INotificationService NotificationService

@{
    ViewData["Title"] = "Index";
    var notificationMessage = NotificationService.GetNotification($"ErrorMessage_{User.Identity.Name}");
}

<h1>Index</h1>

@if (!string.IsNullOrEmpty(notificationMessage))
{
    var toastModel = new DiplomaManagement.Models.ToastNotificationViewModel
    {
        Title = "Warning",
        Message = notificationMessage,
        Class = "bg-danger"
    };

    @await Html.PartialAsync("_ToastNotificationPartial", toastModel)
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Thesis Limit
            </th>
            <th>
                Assigned director
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThesisLimit)
            </td>
            <td>
                @($"{item.Director.User.FirstName} {item.Director.User.LastName}")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>



