@using DiplomaManagement.Services;
@using DiplomaManagement.Interfaces

@model IEnumerable<DiplomaManagement.Entities.Institute>
@inject INotificationService NotificationService

@{
    ViewData["Title"] = @Localizer["institutes"];
    var errorMessage = NotificationService.GetNotification($"ErrorMessage_{User.Identity.Name}");
    var successMessage = NotificationService.GetNotification($"InstituteDeleted_{User.Identity.Name}");

    PagingService pager = new PagingService();
    int pageNumber = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNumber = pager.CurrentPage;
    }

    PagerViewModel pagerViewModel = new PagerViewModel
    {
        Pager = pager,
        ControllerName = "Institute",
        ActionName = "Index"
    };
}

<h1>@Localizer["list-of-all-institutes"]</h1>

@if (!string.IsNullOrEmpty(errorMessage))
{
    var toastModel = new DiplomaManagement.Models.ToastNotificationViewModel
    {
        Title = "Warning",
        Message = errorMessage,
        Class = "bg-danger"
    };

    @section ToastNotification {
        @await Html.PartialAsync("_ToastNotificationPartial", toastModel)
    }
}

@if (!string.IsNullOrEmpty(successMessage))
{
    var toastModel = new DiplomaManagement.Models.ToastNotificationViewModel
    {
        Title = "Success",
        Message = successMessage,
        Class = "bg-success"
    };

    @section ToastNotification {
        @await Html.PartialAsync("_ToastNotificationPartial", toastModel)
    }
}

<p>
    <a asp-action="Create">@Localizer["create-new-record"]</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            @Localizer["search-by-phrase"] <input type="text" name="searchString" value="@ViewBag.CurrentFilter" />
            <input type="submit" value="@Localizer["search"]" class="btn btn-outline-light" /> |
            <a asp-action="Index" class="btn btn-outline-light">@Localizer["back-to-full-list"]</a>
        </p>
    </div>
</form>

<div class="table-wrapper">
    <table class="table table-hover data-table mb-0">
        <thead>
            <tr>
                <th>
                    <a class="pb-1 table-filter @(string.IsNullOrEmpty(ViewBag.CurrentSort) ? "active" : "")"
                        asp-action="Index" 
                        asp-route-sortOrder="@ViewBag.NameSortParam"
                        asp-route-currentFilter="@ViewBag.currentFilter">
                        @Localizer["name"]
                    </a>
                </th>
                <th>
                    <a class="pb-1 table-filter @(ViewBag.CurrentSort == "site" ? "active" : "")"
                       asp-action="Index" 
                        asp-route-sortOrder="@ViewBag.SiteSortParam" 
                        asp-route-currentFilter="@ViewBag.currentFilter">
                        @Localizer["site-address"]
                    </a>
                </th>
                <th>
                    <a class="pb-1 table-header table-filter @(ViewBag.CurrentSort == "street" ? "active" : "")" 
                        asp-action="Index" 
                        asp-route-sortOrder="@ViewBag.StreetSortParam" 
                        asp-route-currentFilter="@ViewBag.currentFilter">
                        @Localizer["street"]
                    </a>
                </th>
                <th>
                    <div class="pb-1">@Localizer["city"]</div>
                </th>
                <th>
                    <div class="pb-1">@Localizer["post-code"]</div>
                </th>
                <th>
                    <a class="pb-1 table-filter @(ViewBag.CurrentSort == "email" ? "active" : "")" 
                        asp-action="Index" 
                        asp-route-sortOrder="@ViewBag.EmailSortParam" 
                        asp-route-currentFilter="@ViewBag.currentFilter">
                        @Localizer["institute-email"]
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SiteAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostalCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["edit-button"]</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">@Localizer["details-button"]</a> |
                        <a class="btn-delete" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-id="@item.Id">@Localizer["delete-button"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">@Localizer["confirm-action"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Localizer["aus-institute-delete"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["cancel"]</button>
                <button type="button" class="btn btn-primary" id="confirmSubmit">@Localizer["submit"]</button>
            </div>
        </div>
    </div>
</div>
<form id="hiddenDeleteForm" method="post" style="display:none;"></form>

<partial name="_PagerPartial" model="@pagerViewModel" />

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var deleteButtons = document.querySelectorAll('.btn-delete');
            var confirmButton = document.getElementById('confirmSubmit');
            var currentItemId;

            deleteButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    currentItemId = this.getAttribute('data-id');
                });
            });

            confirmButton.addEventListener('click', function () {
                var form = document.getElementById('hiddenDeleteForm');
                form.action = '@Url.Action("Delete")/' + currentItemId;
                form.submit();
            });
        });
    </script>
}
