@using DiplomaManagement.Interfaces
@model IEnumerable<DiplomaManagement.Entities.Thesis>

<h1>@Localizer["available-theses"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["title"]
            </th>
            <th>
                @Localizer["description"]
            </th>
            <th>
                @Localizer["promoter-name-surname"]
            </th>
            <th>
                @Localizer["sign-up-student"]
            </th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.Enrollments != null)
        {
            @foreach (var item in ViewBag.Enrollments)
            {
                <tr style="background-color: #d4edda;">
                    <td>
                        @item.Thesis.Title
                    </td>
                    <td>
                        @item.Thesis.Description
                    </td>
                    <td>
                        @($"{item.Thesis.Promoter.User.FirstName} {item.Thesis.Promoter.User.LastName}")
                    </td>
                    <td>
                        <form asp-controller="Thesis" asp-action="AssignThesisToStudentManual" method="post">
                            <input type="hidden" name="thesisId" value="@item.Thesis.Id" />
                            <input type="hidden" name="selectedStudent" value="@ViewBag.SelectedStudentId" />
                            <button type="submit" class="btn btn-primary">@Localizer["select"]</button>
                        </form>
                    </td>
                </tr>
            }
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @($"{item.Promoter.User.FirstName} {item.Promoter.User.LastName}")
                </td>
                <td>
                    <form asp-controller="Thesis" asp-action="AssignThesisToStudentManual" method="post">
                        <input type="hidden" name="thesisId" value="@item.Id" />
                        <input type="hidden" name="selectedStudent" value="@ViewBag.SelectedStudentId" />
                        <button type="submit" class="btn btn-primary">@Localizer["select"]</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
