@using DiplomaManagement.Interfaces
@using DiplomaManagement.Services
@model IEnumerable<DiplomaManagement.Entities.Thesis>
@inject INotificationService NotificationService

@{
    var enrollmentCreated = NotificationService.GetNotification($"EnrollmentCreated_{User.Identity.Name}");
    var enrollmentCreationError = NotificationService.GetNotification($"EnrollmentCreationError_{User.Identity.Name}");

    PagingService pager = new PagingService();
    int pageNumber = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNumber = pager.CurrentPage;
    }

    PagerViewModel pagerViewModel = new PagerViewModel
    {
        Pager = pager,
        ControllerName = "Thesis",
        ActionName = "AvailableTheses"
    };
}

<h1>@Localizer["available-theses"]</h1>

@if (!string.IsNullOrEmpty(enrollmentCreated))
{
    var toastModel = new DiplomaManagement.Models.ToastNotificationViewModel
    {
        Title = "Success",
        Message = enrollmentCreated,
        Class = "bg-success"
    };

    @section ToastNotification {
        @await Html.PartialAsync("_ToastNotificationPartial", toastModel)
    }
}
else if (!string.IsNullOrEmpty(enrollmentCreationError))
{
    var toastModel = new DiplomaManagement.Models.ToastNotificationViewModel
    {
        Title = "Danger",
        Message = enrollmentCreationError,
        Class = "bg-danger"
    };

    @section ToastNotification {
        @await Html.PartialAsync("_ToastNotificationPartial", toastModel)
    }
}

@if (ViewBag.Thesis != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="info-message">
        @Localizer["already-have-assigned-thesis"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (Model != null && Model.Any()) 
{
    <p>
        <div class="d-flex justify-content-between align-items-center">
            <form asp-action="AvailableTheses" method="get">
                <div class="form-actions no-color">
                    @Localizer["search-by-phrase"] <input type="text" name="searchString" value="@ViewBag.CurrentFilter" />
                    <input type="submit" value="@Localizer["search"]" class="btn btn-outline-light" /> |
                    <a asp-action="AvailableTheses" class="btn btn-outline-light">@Localizer["back-to-full-list"]</a>
                </div>
            </form>
            <a asp-controller="ThesisProposition" asp-action="Create" class="btn btn-outline-light mx-3">@Localizer["create-thesis-proposition"]</a>
        </div>
    </p>

    <div class="table-wrapper mb-3">
        <table class="table table-hover data-table mb-0">
            <thead>
                <tr>
                    <th>
                        <a class="pb-1 table-filter @(string.IsNullOrEmpty(ViewBag.CurrentSort) ? "active" : "")"
                            asp-action="AvailableTheses" 
                            asp-route-sortOrder="@ViewBag.TitleSortParam" 
                            asp-route-currentFilter="@ViewBag.currentFilter">
                            @Localizer["title"]
                        </a>
                    </th>
                    <th>
                        <a class="pb-1 table-filter @(ViewBag.CurrentSort == "description" ? "active" : "")"
                            asp-action="AvailableTheses" 
                            asp-route-sortOrder="@ViewBag.DescriptionSortParam" 
                            asp-route-currentFilter="@ViewBag.currentFilter">
                            @Localizer["description"]
                        </a>              
                    </th>
                    <th>
                        <a class="pb-1 table-filter @(ViewBag.CurrentSort == "promoter" ? "active" : "")"
                            asp-action="AvailableTheses" 
                            asp-route-sortOrder="@ViewBag.PromoterSortParam" 
                            asp-route-currentFilter="@ViewBag.currentFilter">
                            @Localizer["promoter-name-surname"]
                        </a>             
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @($"{item.Promoter.User.FirstName} {item.Promoter.User.LastName}")
                        </td>
                        <td>
                            @if (ViewBag.Thesis == null) 
                            {
                                <a asp-controller="Enrollment" asp-action="Create" asp-route-thesisId="@item.Id">@Localizer["enroll-in"]</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else 
{
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <partial name="Icons/_WarningIconPartial" />
        <div>
            @Localizer["no-available-theses"]
        </div>
    </div>
}

<partial name="_PagerPartial" model="@pagerViewModel" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
