@using DiplomaManagement.Interfaces
@model IEnumerable<DiplomaManagement.Entities.Thesis>
@inject INotificationService NotificationService

@{
    var enrollmentCreated = NotificationService.GetNotification($"EnrollmentCreated_{User.Identity.Name}");
    var enrollmentCreationError = NotificationService.GetNotification($"EnrollmentCreationError_{User.Identity.Name}");
}

<h1>Index</h1>

@if (!string.IsNullOrEmpty(enrollmentCreated))
{
    var toastModel = new DiplomaManagement.Models.ToastNotificationViewModel
    {
        Title = "Success",
        Message = enrollmentCreated,
        Class = "bg-success"
    };

    @await Html.PartialAsync("_ToastNotificationPartial", toastModel)
}
else if (!string.IsNullOrEmpty(enrollmentCreationError))
{
    var toastModel = new DiplomaManagement.Models.ToastNotificationViewModel
    {
        Title = "Danger",
        Message = enrollmentCreationError,
        Class = "bg-danger"
    };

    @await Html.PartialAsync("_ToastNotificationPartial", toastModel)
}

@if (ViewBag.Thesis != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="info-message">
        You already have assigned thesis. You won't be able to enroll for another one.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Promoter
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @($"{item.Promoter.User.FirstName} {item.Promoter.User.LastName}")
                </td>
                <td>
                    @if (ViewBag.Thesis == null) 
                    {
                        <a asp-controller="Enrollment" asp-action="Create" asp-route-thesisId="@item.Id">Enroll in</a>
                    }
                
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
