@using DiplomaManagement.Entities
@using DiplomaManagement.Interfaces
@model DiplomaManagement.Models.PromoterThesisViewModel

@inject INotificationService NotificationService

@{
    ViewData["Title"] = "Details";
    var notificationMessage = NotificationService.GetNotification($"FilesAdded_{User.Identity.Name}");
}

@section Styles {
    <link rel="stylesheet" href="~/css/thesis.css" />
}

<h1>Details</h1>
@if (!string.IsNullOrEmpty(notificationMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="info-message">
        @notificationMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div>
    <h4>Thesis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    @if (Model.SystemFiles != null && Model.SystemFiles.Count > 0)
    {
        var index = 0;
        <div class="additional-materials text-center">
            <h2 class="mb-4">Additional materials</h2>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nr.</th>
                    <th>File Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model.SystemFiles)
                {
                    <tr>
                        <th>@index</th>
                        <th>
                            @file.FileName
                        </th>
                        <td>
                            <a asp-action="DownloadDocument" asp-route-id="@file.Id" class="btn btn-primary">Download</a>
                        </td>
                    </tr>
                    index++;
                }
            </tbody>
        </table>
    }

    @if (ViewBag.OriginalPdf != null || ViewBag.PresentationFile != null)
    {
        <div class="additional-materials text-center">
            <h2 class="mb-4">Your files</h2>
        </div>

        @if (ViewBag.OriginalPdf != null)
        {
            var pdf = ViewBag.OriginalPdf;
            String statusClass;
            String statusValue;
            switch (pdf.FileStatus)
            {
                case FileStatus.Accepted:
                    statusClass = "table-success";
                    statusValue = "Accepted";
                    break;
                case FileStatus.NotAccepted:
                    statusClass = "table-danger";
                    statusValue = "Not accepted";
                    break;
                default:
                    statusClass = "table-warning";
                    statusValue = "Not verified";
                    break;
            }
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td>
                            @pdf.FileName
                        </td>
                        <td>
                            <a asp-action="DownloadDocument" asp-route-id="@pdf.Id" class="btn btn-primary">Download</a>
                        </td>
                        <td class="@statusClass">@statusValue</td>
                    </tr>
                </tbody>
            </table>
        }

        @if (ViewBag.PresentationFile != null)
        {

            PresentationFile presentation = ViewBag.PresentationFile;
            String statusClass;
            String statusValue;
            switch (presentation.FileStatus)
            {
                case FileStatus.Accepted:
                    statusClass = "table-success";
                    statusValue = "Accepted";
                    break;
                case FileStatus.NotAccepted:
                    statusClass = "table-danger";
                    statusValue = "Not accepted";
                    break;
                default:
                    statusClass = "table-warning";
                    statusValue = "Not verified";
                    break;
            }
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td>
                            @presentation.FileName
                        </td>
                        <td>
                            <a asp-action="DownloadPresentation" asp-route-id="@presentation.Id" class="btn btn-primary">Download</a>
                        </td>
                        <td class="@statusClass">@statusValue</td>
                    </tr>
                </tbody>
            </table>
        }
    }

    @if (ViewBag.OriginalPdf == null || ViewBag.PresentationFile == null)
    {
        <form asp-action="AddStudentFiles" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Id" />

            @if (ViewBag.OriginalPdf == null)
            {
                <div class="form-group">
                    <label asp-for="PdfFile" class="control-label"></label>
                    <input asp-for="PdfFile" type="file" class="form-control" accept=".pdf" lang="en" />
                </div>
            }

            @if (ViewBag.PresentationFile == null)
            {
                <div class="form-group">
                    <label asp-for="PresentationFile" class="control-label"></label>
                    <input asp-for="PresentationFile" type="file" class="form-control" accept=".pptx" lang="en" />
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
