@using DiplomaManagement.Entities;
@using DiplomaManagement.Services;

@model IEnumerable<DiplomaManagement.Entities.Thesis>

@{
    ViewData["Title"] = "Index";

    PagingService pager = new PagingService();
    int pageNumber = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNumber = pager.CurrentPage;
    }

    PagerViewModel pagerViewModel = new PagerViewModel
    {
        Pager = pager,
        ControllerName = "Thesis",
        ActionName = "SeminarLeaderTheses"
    };
}

<h1>@Localizer["list-of-all-theses"]</h1>

<form asp-action="SeminarLeaderTheses" method="get">
    <div class="form-actions no-color">
        <p>
            @Localizer["search-by-phrase"] <input type="text" name="searchString" value="@ViewBag.CurrentFilter" />
            <input type="submit" value="@Localizer["search"]" class="btn btn-default" /> |
            <a asp-action="SeminarLeaderTheses">@Localizer["back-to-full-list"]</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="SeminarLeaderTheses" asp-route-sortOrder="@ViewBag.TitleSortParm" asp-route-currentFilter="@ViewBag.currentFilter">@Localizer["title"]</a>
            </th>
            <th>
                <a asp-action="SeminarLeaderTheses" asp-route-sortOrder="@ViewBag.PromoterSortParam" asp-route-currentFilter="@ViewBag.currentFilter">@Localizer["promoter-name-surname"]</a>
            </th>
            <th>
                <a asp-action="SeminarLeaderTheses" asp-route-sortOrder="@ViewBag.StudentSortParam" asp-route-currentFilter="@ViewBag.currentFilter">@Localizer["student-name-surname"]</a>
            </th>
            <th>
                <a asp-action="SeminarLeaderTheses" asp-route-sortOrder="@ViewBag.StatusSortParam" asp-route-currentFilter="@ViewBag.currentFilter">@Localizer["status"]</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @($"{item.Promoter.User.FirstName} {item.Promoter.User.LastName}")
                </td>
                <td>
                    @($"{(item.StudentId != null ? item.Student.User.FirstName + " " + item.Student.User.LastName : "--")}")
                </td>
                <td>
                    <span class="status @item.Status.ToString().ToLower()">@Html.DisplayFor(modelItem => item.Status)</span>
                </td>
                <td>
                    <a asp-action="PromoterDetails" asp-route-id="@item.Id" asp-route-previousActionType="1">@Localizer["details-button"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<partial name="_PagerPartial" model="@pagerViewModel" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
