@using DiplomaManagement.Entities
@using DiplomaManagement.Interfaces
@model DiplomaManagement.Models.PromoterThesisViewModel

@inject INotificationService NotificationService

@{
    ViewData["Title"] = @Localizer["details-button"];
    var notificationMessage = NotificationService.GetNotification($"FilesAdded_{User.Identity.Name}");
}

@section Styles {
    <link rel="stylesheet" href="~/css/thesis.css" />
}

<h1>@Localizer["thesis-details"]</h1>

@if (!string.IsNullOrEmpty(notificationMessage))
{
    var toastModel = new DiplomaManagement.Models.ToastNotificationViewModel
    {
        Title = "Success",
        Message = notificationMessage,
        Class = "bg-success"
    };

    @await Html.PartialAsync("_ToastNotificationPartial", toastModel)
}

<div>
    <h4>@Localizer["thesis"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Localizer["title"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["description"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["promoter"]
        </dt>
        <dd class = "col-sm-10">
            @($"{Model.Promoter.User.FirstName} {Model.Promoter.User.LastName}")
        </dd>
    </dl>

    @if (Model.SystemFiles != null && Model.SystemFiles.Count > 0)
    {
        var index = 1;
        <div class="additional-materials text-center">
            <h2 class="mb-4">@Localizer["additional-materials"]:</h2>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nr.</th>
                    <th>@Localizer["file-name"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model.SystemFiles)
                {
                    <tr>
                        <th>@index</th>
                        <th>
                            @file.FileName
                        </th>
                        <td>
                            <a asp-action="DownloadDocument" asp-route-id="@file.Id" class="btn btn-primary">@Localizer["download-button"]</a>
                        </td>
                    </tr>
                    index++;
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-primary d-flex align-items-center" role="alert">
            <partial name="Icons/_WarningIconPartial" />
            <div>@Localizer["thesis-dont-have-additional-materials"]</div>
        </div>
    }

    @if (ViewBag.OriginalPdf != null || ViewBag.PresentationFile != null)
    {
        <div class="additional-materials text-center">
            <h2 class="mb-4">Your files</h2>
        </div>

        @if (ViewBag.OriginalPdf != null)
        {
            var pdf = ViewBag.OriginalPdf;
            String statusClass;
            String statusValue;
            switch (pdf.FileStatus)
            {
                case FileStatus.Accepted:
                    statusClass = "table-success";
                    statusValue = "Accepted";
                    break;
                case FileStatus.NotAccepted:
                    statusClass = "table-danger";
                    statusValue = "Not accepted";
                    break;
                default:
                    statusClass = "table-warning";
                    statusValue = "Not verified";
                    break;
            }
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td>
                            @pdf.FileName
                        </td>
                        <td>
                            <a asp-action="DownloadDocument" asp-route-id="@pdf.Id" class="btn btn-primary">@Localizer["download-button"]</a>
                        </td>
                        <td class="@statusClass">@statusValue</td>
                    </tr>
                </tbody>
            </table>
        }

        @if (ViewBag.PresentationFile != null)
        {

            PresentationFile presentation = ViewBag.PresentationFile;
            String statusClass;
            String statusValue;
            switch (presentation.FileStatus)
            {
                case FileStatus.Accepted:
                    statusClass = "table-success";
                    statusValue = "Accepted";
                    break;
                case FileStatus.NotAccepted:
                    statusClass = "table-danger";
                    statusValue = "Not accepted";
                    break;
                default:
                    statusClass = "table-warning";
                    statusValue = "Not verified";
                    break;
            }
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td>
                            @presentation.FileName
                        </td>
                        <td>
                            <a asp-action="DownloadPresentation" asp-route-id="@presentation.Id" class="btn btn-primary">@Localizer["download-button"]</a>
                        </td>
                        <td class="@statusClass">@statusValue</td>
                    </tr>
                </tbody>
            </table>
        }
    }

    @if (ViewBag.OriginalPdf == null || ViewBag.PresentationFile == null)
    {
        <h4>@Localizer["upload-your-files"]:</h4>
        <form asp-action="AddStudentFiles" method="post" enctype="multipart/form-data" onsubmit="return validateFiles()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Id" />

            @if (ViewBag.OriginalPdf == null)
            {
                <div class="form-group">
                    <label asp-for="PdfFile" class="control-label">@Localizer["upload-pdf-file"]</label>
                    <input asp-for="PdfFile" id="PdfFile" type="file" class="form-control" accept=".pdf" lang="en" />
                </div>
            }

            @if (ViewBag.PresentationFile == null)
            {
                <div class="form-group">
                    <label asp-for="PresentationFile" class="control-label">@Localizer["upload-presentation-file"]</label>
                    <input asp-for="PresentationFile" id="PresentationFile" type="file" class="form-control" accept=".pptx" lang="en" />
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    }
</div>

<script>
    function validateFiles() {
        var pdfFile = document.getElementById("PdfFile");
        var presentationFile = document.getElementById("PresentationFile");

        // Check if both inputs are empty
        if ((pdfFile && pdfFile.files.length === 0) &&
            (presentationFile && presentationFile.files.length === 0)) {

             var notificationMessage = '@Localizer["upload-at-least-one-file"]';

            var toastModel = {
                Title: "Warning",
                Message: notificationMessage,
                Class: "bg-danger"
            };

            showToastNotification(toastModel);
            return false;
        }
        return true;
    }
</script>