@model IEnumerable<DiplomaManagement.Entities.Enrollment>

@{
    ViewData["Title"] = "ActiveEnrollments";
}

<h1>Active Enrollments</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Thesis
            </th>
            <th>
                Student
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Thesis.Title)
                </td>
                <td>
                    @($"{item.Student.User.FirstName} {item.Student.User.LastName}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.User.Email)
                </td>
                <td>
                    <button class="btn btn-primary btn-submit" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-id="@item.Id">Submit</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirm Action</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to submit enrollment for this student? All other enrollments for this thesis will be declined.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>
<form id="hiddenForm" method="post" style="display:none;"></form>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var submitButtons = document.querySelectorAll('.btn-submit');
            var confirmButton = document.getElementById('confirmSubmit');
            var currentItemId;

            submitButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    currentItemId = this.getAttribute('data-id');
                });
            });

            confirmButton.addEventListener('click', function () {
                var form = document.getElementById('hiddenForm');
                form.action = '@Url.Action("SubmitEnrollment", "Enrollment")/' + currentItemId;
                form.submit();
            });
        });
    </script>
}
