@using DiplomaManagement.Interfaces
@model IEnumerable<DiplomaManagement.Entities.Enrollment>

@inject INotificationService NotificationService

@{
    ViewData["Title"] = @Localizer["active-enrollments"];
    var successMessage = NotificationService.GetNotification($"SuccessfullAssigned_{User.Identity.Name}");
}

@if (!string.IsNullOrEmpty(successMessage))
{
    var toastModel = new DiplomaManagement.Models.ToastNotificationViewModel
    {
        Title = "Success",
        Message = successMessage,
        Class = "bg-success"
    };

    @section ToastNotification {
        @await Html.PartialAsync("_ToastNotificationPartial", toastModel)
    }
}

<h1>@Localizer["active-enrollments"]</h1>

@if (Model != null && Model.Any())
{
    <div class="table-wrapper mb-3">
        <table class="table table-hover data-table mb-0">
            <thead>
                <tr>
                    <th>
                        @Localizer["thesis-title"]
                    </th>
                    <th>
                        @Localizer["student-name-surname"]
                    </th>
                    <th>
                        @Localizer["student-email"]
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Thesis.Title)
                        </td>
                        <td>
                            @($"{item.Student.User.FirstName} {item.Student.User.LastName}")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.User.Email)
                        </td>
                        <td>
                            <button class="btn btn-primary btn-submit" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-id="@item.Id">@Localizer["submit"]</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <partial name="Icons/_WarningIconPartial" />
        <div>
            @Localizer["no-active-enrollments"]
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">@Localizer["confirm-action"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Localizer["aus-submit-enrollment"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["cancel"]</button>
                <button type="button" class="btn btn-primary" id="confirmSubmit">@Localizer["submit"]</button>
            </div>
        </div>
    </div>
</div>
<form id="hiddenForm" method="post" style="display:none;"></form>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var submitButtons = document.querySelectorAll('.btn-submit');
            var confirmButton = document.getElementById('confirmSubmit');
            var currentItemId;

            submitButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    currentItemId = this.getAttribute('data-id');
                });
            });

            confirmButton.addEventListener('click', function () {
                var form = document.getElementById('hiddenForm');
                form.action = '@Url.Action("SubmitEnrollment", "Enrollment")/' + currentItemId;
                form.submit();
            });
        });
    </script>
}
