@using DiplomaManagement.Services;
@using DiplomaManagement.Interfaces;

@model DiplomaManagement.Entities.Director
@inject INotificationService NotificationService

@{
    ViewData["Title"] = "AssignedPromoters";
    var successMessage = NotificationService.GetNotification($"SuccessMessage_{User.Identity!.Name}");

    PagingService pager = new PagingService();
    int pageNumber = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNumber = pager.CurrentPage;
    }

    PagerViewModel pagerViewModel = new PagerViewModel
    {
        Pager = pager,
        ControllerName = "Director",
        ActionName = "AssignedPromoters"
    };
}

<h1>@Localizer["available-promoters"]</h1>

@if (!string.IsNullOrEmpty(successMessage))
{
    var toastModel = new DiplomaManagement.Models.ToastNotificationViewModel
    {
        Title = "Success",
        Message = successMessage,
        Class = "bg-success"
    };

    @section ToastNotification {
        @await Html.PartialAsync("_ToastNotificationPartial", toastModel)
    }
}

<h3>@Localizer["change-thesis-limit-globaly"]</h3>

<form class="row g-3" asp-action="GlobalUpdateThesisLimit" method="post">
    <input type="hidden" value="@Model.Id" name="directorId" />
    <div class="col-3">
        <div class="row mb-3">
            <label for="thesisLimit" class="col-sm-4 col-form-label">@Localizer["thesis-limit"]:</label>
            <div class="col-sm-8">
                <input class="form-control" id="thesisLimit" name="thesisLimit" onkeypress="return isNumberKey(event)">
            </div>
        </div>
    </div>
    <div class="col-3">
        <button type="submit" class="btn btn-primary mb-3">@Localizer["submit"]</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                @Localizer["name-and-surname"]
            </th>
            <th>
                @Localizer["email-address"]
            </th>
            <th>
                @Localizer["thesis-limit"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Promoters!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @($"{item.User.FirstName} {item.User.LastName}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    <form asp-action="UpdatePromoterThesisLimit" asp-controller="Director" method="post">
                        <input type="hidden" name="promoterId" value="@item.Id" />
                        <input name="thesisLimit" value="@item.ThesisLimit" class="form-control" style="width: 80px;" onkeypress="return isNumberKey(event)"/>
                        <button type="submit" class="btn btn-primary btn-sm">@Localizer["save"]</button>
                    </form>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Localizer["details-button"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PagerPartial" model="@pagerViewModel" />

@section Scripts {
    <script>
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>
}