@model DiplomaManagement.Models.DirectorViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>@Localizer["create-header"]</h1>

<h4>@Localizer["director"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">@Localizer["first-name"]</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">@Localizer["last-name"]</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-4 col-form-label">@Localizer["enter-password"]</label>
                <div class="col-md-8">
                    <input asp-for="Password" placeholder="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-4 col-form-label">@Localizer["confirm-password"]</label>
                <div class="col-md-8">
                    <input asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">@Localizer["email-address"]</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstituteId" class="control-label">@Localizer["select-institute"]</label>
                <select asp-for="InstituteId" class="form-control" asp-items="ViewBag.Institutes"></select>
                <span asp-validation-for="InstituteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["create"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["back-to-list"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
