@model DiplomaManagement.Entities.Director

@{
    ViewData["Title"] = "Details";
}

<h1>@Localizer["details"]</h1>

<div>
    <h4>@Localizer["director-details"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.InstituteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.InstituteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@Localizer["edit-button"]</a> |
    <a asp-action="Index">@Localizer["back-to-list"]</a>
</div>
